body {
  box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0 auto; }

.menu {
  width: 250px;
  border-right: solid black 1px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: inline-block;
  float: left;
  box-shadow: 5px 3px 3px black; }

.menu h3 {
  margin-bottom: 15px; }

.menu h4 {
  margin-bottom: 100px; }

form {
  height: 250px; }

.label {
  clear: both;
  display: block;
  width: 80%;
  margin: 10px auto; }

.input {
  clear: both;
  display: block;
  width: 80%;
  margin: 10px auto; }

.brick {
  background-image: url(../images/bricktexture.jpg);
  background-size: cover;
  height: 30px;
  width: 30px;
  display: inline-block;
<<<<<<< HEAD
  float: left;
  position: absolute;
  cursor: pointer; }
=======
  float: left; }
>>>>>>> dev

.brickDesc {
  display: inline-block;
  float: left;
  margin-left: 25px;
  margin-top: 15px;
  margin-right: 10px; }

.editor {
  margin-left: 250px;
  display: inline-block; }

#map {
  margin: 100px 100px; }

.sector {
  height: 30px;
  width: 30px;
  box-shadow: 1px 0 0 0 black, 0 1px 0 0 black, 1px 1px 0 0 black, 1px 0 0 0 black inset, 0 1px 0 0 black inset;
  display: inline-block;
  float: left; }

.sector:nth-child(20n + 1) {
  clear: both; }

div .brick .dropped {
  background-image: url(../images/bricktexture.jpg); }

div #map .focus {
  border: 1px solid red; }
