body {
  box-sizing: border-box;
}

.menu {
  width: 15%;
  border-right: solid black 1px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  // display: block;
}

.editor {
  width: 85%;
}

.map {
  margin: 100px auto;
}

.sector {
  height: 50px;
  width: 50px;
  box-shadow:
    1px 0 0 0 black,
    0 1px 0 0 black,
    1px 1px 0 0 black,
    1px 0 0 0 black inset,
    0 1px 0 0 black inset;
}
