body {
  box-sizing: border-box;
  background-color: #EFEFEB;
  font-family: 'Orbitron', sans-serif;
}
.container  {
  width: 100%;
  margin: 0 auto;
}

.menu {
  width: 250px;
  border-right: solid black 1px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: inline-block;
  float: left;
  box-shadow: 5px 3px 3px black;
}

.heading {
  // height: 175px;
  background-size: auto;
  background-size: contain;
  border-bottom: 1px black solid;
  width: 225px;
  margin-left: 12px;
  margin-bottom: 25px;
}

.menu h3 {
  margin-bottom: 15px;
  padding-top: 25px;
  font-size: 22px;
}

.menu h4 {
  margin-bottom: 25px;
  font-size: 18px;
}

form {
  // height: 250px;
}

.label {
  clear: both;
  display: block;
  width: 80%;
  margin: 10px auto 0px auto;
}

.input {
  clear:both;
  display: block;
  width: 80%;
  margin: 10px auto;
}

.budget {
  padding-top: -100px;
}

#budget {
  margin-bottom: 25px;
}

#submit {
  margin-bottom: 25px;
}

.menuItem {
  width: 100%;
  height: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}

.brick {
  background-image: url(../images/bricktexture.jpg);
  background-size: cover;
  height: 28px;
  width: 28px;
  display: inline-block;
  float: left;
}

.itemDesc {
  display: inline-block;
  float: left;
  margin-left: 25px;
  margin-top: 5px;
  margin-right: 10px;
}

.editor {
  margin-left: 275px;
  margin-top: 25px;
  display: inline-block;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

#map {
  margin-left: 500px;
  // width: 156px;
}

.sector {
  height: 28px;
  width: 28px;
  box-shadow:
    2px 0 0 0 black,
    0 2px 0 0 black,
    2px 2px 0 0 black,
    2px 0 0 0 black inset,
    0 1px 0 0 black inset;
  display: inline-block;
  float: left;
}

.sector:nth-child(20n + 1) {
  clear: both;
}

div .brick .dropped {
  background-image: url(../images/bricktexture.jpg);
}

div #map .focus {
  border: 1px solid red;
}
